html,body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #cccccc;
}
canvas {
    background-color: #cccccc;
    image-rendering: pixelated;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
}
